/* ----- POPPINS FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body{
    background-image: url(img/bk4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 150%;
    backdrop-filter: blur(3px);
    height: 10vh;
    background-attachment: fixed;
}
.nav-ul{
    display: flex;
    gap: 30px;
}
.logo{
    color: white;
    text-decoration: none;
    transition: .5s;
}
.logo>img{
    height: 5vh;
}
.logo>div{
    background-color: yellow;
    height: .5vh;
    width: 30%;
}
.logo:hover{
    transform: scale(1.1);
    transition: .5s;
}
.navigation{
    text-decoration: none;
    list-style: none;
    color: white;
    transition: .5s;
    font-weight: 600;
}

.navigation:hover{
    transform: scale(1.1);
    transition: .5s;
    color: yellow;
}
 


main>img{
    height: 90vh;
}
/*Porfile section*/
main{
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 100px;
}
.profile{
    display: flex;
    justify-content: space-around;
    margin-top: 8vh;
}
.text{
  display: flex;
  flex-direction: column;
}
.text>h1{
    font-size: 300%;
    font-weight: 800;
}
.auto-type{
    text-transform: capitalize;
    color: yellow;
}

.text>p{
    width: 46vw;
    text-align: justify;
}
.name{
    text-decoration: none;
    color: black;
    font-size: 86%;
    font-weight: 600;
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 25px;
    border-radius: 8px;
}

.cv{
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-weight: 800;
    background: #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    transition: .5s;
    margin-top: 40px;
}

.cv:hover{
    background: yellow;
    color: black;
    transform: scale(1.05);
}

.icon{
    display: flex;
    gap: 30px;
    margin-top: 5%;
}
.icon>a{
    text-decoration: none;
}
.icon>a>i{
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(255, 255, 255,255);
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: .5s;
}
.icon>a>i:hover{
    transform: scale(1.1);
    color: yellow;
}
.img-back{
    width: 450px;
    height: 450px;
    background: #007BFF;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: animate 5s ease-in-out infinite;
}
.image{
    width: 450px;
    object-fit: cover;
}



/*footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    background: #141414;
 
}
.foot{
    color: white;
}

.foot>div>.m-name{
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    margin-top: 50px;
}
.copyright{
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 100;
    margin-top: 30px;
}

@keyframes animate {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}


@media only screen and (max-width: 1411px) {
   
    .profile {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 100px;
    }
    .text{
        align-items: center;
    }

}

@media only screen and (max-width: 1024px) {
    .text>p{
        width: 800px;
    }
    .img-back{
        width: 300px;
        height: 300px;
    }
    .image{
        width: 300px;
    }

}


@media only screen and (max-width: 768px){
    .profile{
        display: flex;
        gap: 30px;
        flex-direction: column-reverse;
    }
    .text{
        display: flex;
        gap: 0px;
    }
    .text>h1{
        font-size: 30px;
    }
    .text>p{
        width: 600px;
    }
    .cv{
        display: flex;
        width: 100px;
        align-items: center;
        justify-content: center;
    }
    .img-back{
        width: 300px;
        height: 300px;
    }
    .image{
        width: 300px;
    }
}

@media only screen and (max-width: 425px){
    header{
        padding-left: 40px;
        padding-right: 0px;
    }
    .nav-ul>a>li{
        display: none;   
    }
    .logo>img{
        height: 25px;
    }
    .profile{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }
    .text>h1{
        font-size: 20px;
    }
    .text>p{
        width: 300px;
    }
    .img-back{
        width: 150px;
        height: 150px;
    }
    .image{
        width: 150px;
    }
}

@media only screen and (max-width: 320px){
    .text>h1{
        font-size: 15px;
    }
    .text>p{
        width: 250px;
    }

}